<%- include('partials/header') %>

<div id="jumbotron-centered" class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 id="disfont" class="display-3">Thanks for logging In!</h1>
    <br>
    <p class="secret-text">Association office bearers and coordinators</p>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-md-6">
          <img style="width:180px;height:180px;border-radius:10%;" src="css/maryadabro.png" alt="">
          <h5>Maryada Kumar Lodha</h5>
          <h5>General secretary <br>(2022-2023)</h5>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6">
          <img style="width:180px;height:180px;border-radius:10%;" src="css/subashbro.png" alt="">
          <h4>subash A</h4>
          <h5>General Secretary <br>(2022-2023)</h5>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6">
          <img style="width:180px;height:180px;border-radius:10%;" src="css/womennew.png" alt="">
          <h4>Raja Lavanya</h4>
          <h5>Assistant Professor <br> Staff Co-ordinator</h5>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6">
          <img style="width:180px;height:180px;border-radius:10%;" src="css/girl.png" alt="">
          <!-- <img style="width:180px;height:180px;border-radius:10%;" src="css/girl.png" alt=""> -->
          <h4>Varsha S K</h4>
          <h5>General Secretary <br>(2023-2024)</h5>
        </div </div>

      </div>
      <br><br>
      <h1 id="welcome">List of events in our association for the academic year 2022-2023</h1>
      <!-- <div class="container" style="width:30%;">

        <br>
        <li class="list-group-item list-group-item-success">Gimp Poster Design</li>
        <li class="list-group-item list-group-item-danger">F'stival 2022</li>
        <li class="list-group-item list-group-item-warning">Pystar</li>
        <li class="list-group-item list-group-item-info">Networks Guru</li>
        <li class="list-group-item list-group-item-light">Ultimate Star</li>
        <li class="list-group-item list-group-item-success">DB Don</li>
      </div> -->
      <br><br>

      <table class="table table-striped-columns table-bordered table-hover table-responsive-md">
        <tr>
          <td class="table-light">Event</td>
          <td class="table-dark">Date and Mode</td>
          <td class="table-info">Registrations</td>
          <td class="table-dark">Participations</td <td class="table-warning">
          </td>
          <td class="table-light">Level of Difficulty</td>
        </tr>
        <tr>
          <td class="table-primary">Gimp Poster Design</td>
          <td class="table-warning">12/09/2022 - ONLINE</td>
          <td class="table-light">24</td>
          <td class="table-warning">13</td>
          <td class="table-primary">Non-Technical</td>
        </tr>
        <tr>
          <td class="table-success">FS'tival 2022</td>
          <td class="table-danger">05/11/2022 - OFFLINE</td>
          <td class="table-info">105</td>
          <td class="table-danger">105</td>
          <td class="table-success">Spotlight Event</td>
        </tr>
        <tr>
          <td class="table-primary">Pystar</td>
          <td class="table-warning">24/01/2023- HYBRID</td>
          <td class="table-light">59</td>
          <td class="table-warning">27</td>
          <td class="table-primary">Hard</td>

        </tr>
        <tr>
          <td class="table-success">Networks Guru</td>
          <td class="table-danger">30/01/2023 - ONLINE</td>
          <td class="table-info">99</td>
          <td class="table-danger">95</td>
          <td class="table-success">Moderate</td>
        </tr>
        <tr>
          <td class="table-primary">Ultimate Star</td>
          <td class="table-warning">17/02/2023 - ONLINE</td>
          <td class="table-light">96</td>
          <td class="table-warning">79</td>
          <td class="table-primary">Moderate</td>

        </tr>
        <tr>
          <td class="table-success">DB Don</td>
          <td class="table-danger">27/02/2023 - ONLINE</td>
          <td class="table-info">105</td>
          <td class="table-danger">75</td>
          <td class="table-success">Moderate</td>
          <!-- <td class="table-info">To be updated</td>
  <td class="table-light">To be updated</td>
  <td class="table-dark">To be updated</td> -->
        </tr>
      </table>
      <br><br>
      <h1 id="welcome">Event Information</h1>
      <center>
      <div class="container id="some">
        <div class="row">
          <div class="col">
            <div class="card"  id="some">
              <div class="slide slide1">
                <div class="content">
                  <div class="icon">
                    <img src="css/fest.jpg" width=250px; height=320px; alt="">
                  </div>
                </div>
              </div>
              <div class="slide slide2">
                <div class="content">
                  <h3>
                    F'stival 2022
                  </h3>
                  <p>A Spotlight Event and a free Software festival which features projects and tool demos developed by Students of TCE CSE department.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card"  id="some">

              <div class="slide slide1">

                <div class="content">

                  <div class="icon">

                    <img src="css/gimp.jpeg" width=250px; height=320px; alt="">

                  </div>

                </div>

              </div>

              <div class="slide slide2">

                <div class="content">

                  <h3>

                    GIMP Poster Design Contest
                  </h3>

                  <p>A poster design contest through with Students enhance their photo editing and artistic skills using open source.</p>

                </div>

              </div>

            </div>
          </div>
          <div class="col">
            <div  id="some" class="card">

              <div class="slide slide1">

                <div class="content">

                  <div class="icon">

                  <img src="css/pystar.png" width=250px; height=320px; alt="">

                  </div>

                </div>

              </div>

              <div class="slide slide2">

                <div class="content">

                  <h3>

                    Pystar

                  </h3>

                  <p>An Event featuring mcq's and coding where student enthusiasts compete to showcase their python programming skills.</p>

                </div>

              </div>

            </div>
          </div>
          <div class="col">
            <div  id="some" class="card">

              <div class="slide slide1">

                <div class="content">

                  <div class="icon">

                  <img src="css/network.jpg" width=250px; height=320px; alt="">

                  </div>

                </div>

              </div>

              <div class="slide slide2">

                <div class="content">

                  <h3>

                    Network Guru

                  </h3>

                  <p>A contest that helps the students to kindle their networking ability and their knowledge of Computer Networks.</p>

                </div>

              </div>

            </div>
          </div>
          <div class="col">
            <div  id="some" class="card">

              <div class="slide slide1">

                <div class="content">

                  <div class="icon">

                    <img src="css/ultimate.png" width=250px; height=320px; alt="">

                  </div>

                </div>

              </div>

              <div class="slide slide2">

                <div class="content">

                  <h3>

                    Ultimate Star

                  </h3>

                  <p>Students and tech enthusiasts got an opportunity to Brush up their knowledge on Linux, C, C++, Python and Java based MCQ Test!</p>

                </div>

              </div>

            </div>
          </div>
          <div class="col">
            <div  id="some" class="card">

              <div class="slide slide1">

                <div class="content">

                  <div class="icon">

                  <img src="css/dbdon.png" width=250px; height=320px; alt="">
                  </div>

                </div>

              </div>

              <div class="slide slide2">

                <div class="content">

                  <h3>

                    DB Don

                  </h3>

                  <p>
DB don is a contest that helps the students to showcase their database knowledge and helps them unlock their level of understanding with SQL queries and syntax.
                  </p>

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
            </center>
      <br><br>
      <!-- section -->
      <section class="layout_padding section">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text_align_center">
              <div class="full heading_s1">
                <center>
                  <h2 id="welcome">Our Hall of Fame</h2>
                </center>
                <br>
              </div>
              <div class="full">
                <p style="color:white;font-family: 'Nerko One', cursive;" class="large">We have showcased the winners of our association events here.</p>
              </div>
            </div>
          </div>
          <br>
          <div class="row" id="sample">
            <div style="margin-bottom:30px;" class="full heading_s3">
              <center>
                <h2 id="welcome">Pystar</h2>
              </center>
            </div>
            <div class="col-md-4 text_align_center">
              <div class="cours">
                <img class="img-responsive" src="css/ISHVARYA.png" />
              </div>
              <h3>Ishvarya S</h3>
              <p>A 2nd year student has won First Prize</p>
            </div>

            <div class="col-md-4 text_align_center">
              <div class="cours">
                <img class="img-responsive" src="css/hari.png" />
              </div>
              <h3>Hari Krisnan A P</h3>
              <p>A 3rd year student has won Second Prize</p>
            </div>

            <div class="col-md-4 text_align_center">
              <div class="cours">
                <img class="img-responsive" src="css/srinidhi.png" alt="#" />
              </div>
              <h3>Srinidhi Ranjith</h3>
              <p>A 3rd year student has won Third Prize</p>
            </div>

          </div>

          <br>
          <br>
          <br>
          <div class="row" id="sample">
            <div style="margin-bottom:30px;" class="full heading_s2">
              <center>
                <h2 id="welcome">Network Guru Seniors</h2>
              </center>
            </div>
            <div class="col-md-4 text_align_center">
              <div class="cours">
                <img class="img-responsive" src="css/vignesh.png" alt="#" />
              </div>
              <h3>Vignesh R</h3>
              <p>A 3rd year student has won First Prize</p>
            </div>

            <div class="col-md-4 text_align_center">
              <div class="cours">
                <img class="img-responsive" src="css/srinidhi.png" alt="#" />
              </div>
              <h3>Srinidhi Ranjith</h3>
              <p>A 3rd year student has won Second Prize</p>
            </div>
            <div class="col-md-4 text_align_center">
              <div class="cours">
                <img class="img-responsive" src="css/nivi.png" alt="#" />
              </div>
              <h3>Naga Nivedithaa G</h3>
              <p>A 3rd year student has won Third Prize</p>
            </div>


          </div>
          <br><br><br>
          <div class="row" id="sample">
            <div style="margin-bottom:30px;" class="full heading_s2">
              <center>
                <h2 id="welcome">Network Guru Juniors</h2>
              </center>
            </div>
            <div class="col-md-4 text_align_center">
              <div class="cours">
                <img style="width:100%;" class="img-responsive" src="css/lakshana.png" />
              </div>
              <h3>Lakshana</h3>
              <p>A 2nd year student has won First Prize</p>
            </div>

            <div class="col-md-4 text_align_center">
              <div class="cours">
                <img class="img-responsive" src="css/guga.png" />
              </div>
              <h3>Guga Priya</h3>
              <p>A 1st year student has won Second Prize</p>
            </div>

            <div class="col-md-4 text_align_center">
              <div class="cours">
                <img class="img-responsive" src="css/kaarthik.png" alt="#" />
              </div>
              <h3>Kaarthik Raamanathan</h3>
              <p>A 2nd year student has won Third Prize</p>
            </div>


          </div>
          <br><br><br>
          <div class="row" id="sample">
            <div style="margin-bottom:30px;" class="full heading_s4">
              <center>
                <h2 id="welcome">Ultimate Star</h2>
              </center>
            </div>
            <div class="col-md-4 text_align_center">
              <div class="cours">
                <img class="img-responsive" src="css/raash.png" alt="#" />
              </div>
              <h3>Raasheedhaa Shameem</h3>
              <p>A 3rd year student has won First Prize</p>
            </div>

            <div class="col-md-4 text_align_center">
              <div class="cours">
                <img class="img-responsive" src="css/shree.png" alt="#" />
              </div>
              <h3>Shree Harini K M</h3>
              <p>A 2nd year student has won Second Prize</p>
            </div>

            <div class="col-md-4 text_align_center">
              <div class="cours">
                <img class="img-responsive" src="css/srinidhi.png" alt="#" />
              </div>
              <h3>Srinidhi Ranjith</h3>
              <p>A 3rd year student has won Third Prize</p>
            </div>

          </div>
          <br><br><br>
          <div class="row" id="sample">
            <div style="margin-bottom:30px;" class="full heading_s5">
              <center>
                <h2 id="welcome">DB DON</h2>
              </center>
            </div>
            <div class="col-md-4 text_align_center">
              <div class="cours">
                <img class="img-responsive" src="css/nivi.png" alt="#" />
              </div>
              <h3>Naga Nivedithaa G</h3>
              <p>A 3rd year student has won First Prize</p>
            </div>

            <div class="col-md-4 text_align_center">
              <div class="cours">
                <img class="img-responsive" src="css/swathi.png" alt="#" />
              </div>
              <h3>Swathi R</h3>
              <p>A 3rd year student has won Second Prize</p>
            </div>

            <div class="col-md-4 text_align_center">
              <div class="cours">
                <img class="img-responsive" src="css/sabarish.png" alt="#" />
              </div>
              <h3>Sri Sabarish T</h3>
              <p>A 2nd year student has won Third Prize</p>
            </div>

          </div>
          <!-- <div class="bubbles">
          <img style="margin-top:100px;" src="css/red.png" alt="">
          <img style="margin-top:70px;" src="css/bubble.png" alt="">
          <img style="margin-top:90px;" src="css/brown.png" alt="">
          <img src="css/blue.png" alt="">
          <img   src="css/bubble.png" alt="">
          <img style="margin-top:100px;"  src="css/orange.png" alt="">
          <img  src="css/bubble.png" alt=""> -->
        </div>



      </section>
      <br><br>
      <a class="btn btn-dark btn-lg" href="https://glugot-tce-edu-feedback.onrender.com/" role="button">Give us your valuable feedback</a>
      <br><br><br>
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    </div>
  </div>

  <%- include('partials/footer') %>
