body{
  /* background-image: linear-gradient(to right, #5DFDCB, #90D7FF); */
  background-image: linear-gradient(to right, rgb(255, 229, 168) 0%, rgb(251, 174, 222) 100.7%);

  /* background: radial-gradient(circle at 10% 20%, rgb(255, 229, 168) 0%, rgb(251, 174, 222) 100.7%); */
}
.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #E97777;
  background-color: #DEF5E5;
}
h4{
  font-family: 'Recursive', sans-serif;
}
.logo{
  height:120px;
  width:120px;
}
#jumbotron-centered{
  background-image: linear-gradient(to right, rgb(255, 229, 168) 0%, rgb(251, 174, 222) 100.7%);

}
#welcome{
  font-family: 'Pacifico', cursive;
}
#para{
font-family: 'Playfair Display', serif;
}
.full {
    width: 100%;
    float: left;
}

p.large {
    font-size: 2rem !important;
    color: #222;
    font-weight: 200;
}
p.large {
    margin-bottom: 30px;
    font-size: 2rem !important;
    line-height: 28px;
    color: #252626;
    font-weight: 300;
    margin-top: 5px;
}
.heading_s1 h2 {
    font-size: 60px;
    color: #252323;
    font-weight: 400;
    line-height: 55px;
    width: auto;
}

.heading_s2 h2::first-letter {
    color: #3A1078;
    font-size: 100px;
    font-weight: 700;
}
.heading_s4 h2 {
    font-size: 60px;
    color: #252323;
    font-weight: 400;
    line-height: 55px;
    width: auto;
}

.heading_s4 h2::first-letter {
    color: #EAFDFC !important;
    font-size: 100px;
    font-weight: 700;
}
.heading_s2 h2 {
    font-size: 60px;
    color: #252323;
    font-weight: 400;
    line-height: 55px;
    width: auto;
}
.heading_s1 h2::first-letter {
    color: #72dd78;
    font-size: 100px;
    font-weight: 700;
}
.heading_s3 h2::first-letter {
    color: #F2CD5C;
    font-size: 100px;
    font-weight: 700;
}
.heading_s3 h2 {
    font-size: 60px;
    color: #252323;
    font-weight: 400;
    line-height: 55px;
    width: auto;
}


#disfont{
  font-family:'Permananent Marker', cursive;
}

.heading_s2 h2 {
    font-size: 50px;
    font-weight: 600;
}
.heading_s5 h2::first-letter {
    color: #21E1E1;
    font-size: 100px;
    font-weight: 700;
}
.heading_s5 h2 {
    font-size: 60px;
    color: #252323;
    font-weight: 400;
    line-height: 55px;
    width: auto;
}

.cours + h3 {
    margin-top: 30px;
    font-size: 28px;
}
.cours img {
    max-width: 70%;
}

#sample{
  background-image:url("congo-unscreen.gif");
}

.congrats h2 {
  transform-origin: 50% 50%;
  font-size: 50px;
  font-family: 'Sigmar One', cursive;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
}


.container .card .icon {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: #21E1E1;
}

.container .card .icon .fa {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 80px;

    color: #fff;

}

.container .card .slide {

    width: 250px;

    height: 320px;

    transition: 0.5s;

}

.container .card .slide.slide1 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    transition: .7s;

    transform: translateY(100px);

}

.container .card:hover .slide.slide1{

    transform: translateY(0px);

}

.container .card .slide.slide2 {

    position: relative;
    height:auto;
    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    box-sizing: border-box;

    transition: .8s;

    transform: translateY(-200px);

    box-shadow: 0 20px 40px rgba(0,0,0,0.4);

}

.container .card:hover .slide.slide2{

    transform: translateY(0);

}

.container .card .slide.slide2::after{

    content: "";

    position: absolute;

    width: 30px;

    height: 4px;

    bottom: 15px;

    left: 50%;

    left: 50%;

    transform: translateX(-50%);

    background: #2c73df;

}

.container .card .slide.slide2 .content p {

    margin: 0;

    padding: 0;
   background-color: none;
   text-align: center !important;
   justify-content: center !important;
   font-family: 'Permanent Marker', cursive;
    color: #414141;

}
#some{
  background-color: inherit;
  align-items: center !important;
  text-align: center !important;
  border: none;
}

.container .card .slide.slide2 .content h3 {

    margin: 0 0 10px 0;

    padding: 0;

    font-size: 24px;

    text-align: center;
    font-family: 'Sofia', cursive;

    color: #414141;

}
